<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Login</h1>
    <div class="col-6 offset-3">
        <form action="/login" novalidate class="validate-form" method="POST" >
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input type="text" class="form-control" name="username" id="username" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input type="email" class="form-control" name="user[email]" id="email" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Login</button>
                </div>
        </form>
    </div>
</div>
